form {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  
  box-shadow: 4px 10px 18px 4px rgba(0, 0, 0, 0.33);
  background-color: burlywood;
}

form input{
  margin: 1rem;
}